:root{
  /*Cores*/
  --cor-preto: #000000;
  --cor-amarelo: #ffd700;
  --cor-cinza: #7b7b7b;
  /*Fonte*/
  --fontePrincipal:'Arial', sans-serif;

}
*{
  margin: 0;
  padding: 0;
}

  
/* Estilos gerais */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--cor-preto);
  color: var(--cor-amarelo);
  margin: 0;
  padding: 0;
}
.cabecalho{
  position: fixed;

  padding: 0% 0% 0% 15%;
  width: 100%;
  top: 0;
}

.cabecalhoMenu{
  display: flex;
  gap: 80px;
}
.cabecalhoMenuLink{
  font-family: var(--fontePrincipal);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--cor-amarelo);
  text-decoration: none;
  display: inline;
  margin-right: 15px;
  list-style-type: none;
}  

/*Configuração do body Textos e comentarios*/
.apresentacao{
  margin: 5% 15%;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.apresentacaoConteudo{
  width: 50%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacaoConteudoTitulo{
  font-size: 2.25rem;
  font-family: var(--fontePrincipal);
  color: var(--cor-preto);
  background-color: var(--cor-amarelo);
  left: 0;
  bottom: 0;
  width: 100%;
}

.tituloDestaque{
  color: var(--cor-amarelo);
}

.apresentacaoConteudoTexto{
  font-size: 1.5rem;
  font-family: var(--fontePrincipal);
  text-align: justify;
  white-space: pre-line;
  display: inline-block;
}
.apresentacaoConteudoTextoContato{
    font-size: 1.5rem;
    font-family: var(--fontePrincipal);
    text-align: initial;
    white-space: pre-line;
    margin-bottom: 10px;
}

.apresentacaoConteudoTabel{
  width: 50%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 10px;
}

.apresentacaoLinks{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.apresentacaoLinksSubtitulo{
  font-family: var(--fontePrincipal);
  font-weight: 400;
  font-size: 1.5rem;

}
.apresentacaoImagemContainer{
  display: flex;
}
.apresentacaoImagem{
  float: left;
  width: 480px;
  height: 800px;
  margin-right: 0px;
}
.apresentacaoImagemTrofeus{
  float: left;
  width: 800px;
  height: 600px;
  margin-right: 0px;
}

/*Configuração do rodapé*/
.rodape{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1.5rem;
  color: var(--cor-preto) ;
  background-color: var(--cor-amarelo) ;
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--fontePrincipal);
  font-weight: 400;
}
/*Configuração das tabelas*/
.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 50px;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--cor-cinza);
}

th {
  background-color: var(--cor-preto);
}

/* Estilos para o formulário de inscrição */

.conteinerForms {
  display: grid;
  gap: 10px;
}

label{
  grid-column: 1;
}
input{
  grid-column: 2;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

/*Confirguração do iframe*/
.iframeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


/*Configuração do video*/
.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: in;
  gap: 20px;
}

.videoContainerVideo {
  width: 720px;
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
  height: 100%;
}


/* Personalização do Grid com bootstrap */

.apresentacaoGrid{
  margin: 5% 15%;
  margin-top: 250px;
  margin-bottom: ;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 82px;
}
.odd-col {
  background-color: var(--cor-preto) /* Cor para colunas ímpares */
}

.even-col {
  background-color: var(--cor-cinza); /* Cor para colunas pares */
}

/* Estilos para a divisão das colunas */
.col {
  border: 1px solid var(--cor-amarelo);
  padding: 10px;
}

.carouselContainer {
  max-width: 720px;
  height: 480px;
  margin: 0 auto;
}
@media (max-width: 1200px){
  .cabecalho{
      padding: 10%;
  }

  .cabecalhoMenu{
      justify-content: initial;
  
  }

  .apresentacao{
      flex-direction: column-reverse;
      padding: 5%;
  }

  .apresentacaoConteudo{
      width: auto;
  }
  
}